<%
=begin%>
 <h1>My header</h1> 
<%
=end%>
<section class="hero is-info is-link is-small">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path, class: "nav-item" do %>
            <span class="has-text-weight-bold is-size-4 ml-4">MarcosManager</span>
          <% end %>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
        
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
          <span class="navbar-item"></span>
            <%= link_to   "Create an entry",  new_entry_path, class: "button is-success"  %>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
      
        <% if content_for(:title) %>
        <%= yield :title %>
        <% else %>
        Food Manager
        <% end %>
      </h1>
    
    </div>
  </div>
</section>